@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
* {
    box-sizing: border-box;
}
 
/* --- Colors --- */
 
:root {
    --red: #EA4E43;
    --red2: #ea4e4373;
    --shade1: #F2F2F2;
    --shade2: #F9F9F9;
    --shadow: #0000000c;
    --shadow2: #00000020;
}
 
#red {
    color: var(--red);
    font-weight: 600;
}
 
/* --- Type Selectors */
 
body {
    font-family: "inter", sans-serif;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
}
 
header {
    display: inline;
}
 
header p {
    font-size: 1.5em;
}
 
nav {
    padding: 5px;
    position: sticky;
    background-color: var(--shade2);
    top: 0;
    box-shadow: 0 15px 25px 0 var(--shadow);
}
 
nav ul {
    flex-flow: row-reverse;
    padding-inline: 3em;
    display: flex;
    gap: 2em;
}
 
nav li {
    list-style-type: none;
}
 
nav a {
    font-size: 1em;
    font-weight: 600;
    color: black;
    text-decoration: none;
    transition: 300ms;
}
 
nav a:hover {
    color: var(--red);
    transition: 300ms;
}
 
main {
    display: flex;
    flex-flow: row-reverse;
    justify-content: left;
 
    padding: 3em;
    gap: 1.5rem;
    
}
 
h1 {
    font-size: 4em;
    line-height: 0;
}
 
p {
    margin-top: 0;
}
 
a {
    text-decoration: none;
}
 
ul {
    list-style: none;
}
 
footer {
    padding: 2em;
    background-color: var(--shade2);
}
 
footer #red,
footer p {
    font-weight: 300;
}
 
/* --- Classes and IDs --- */
 
#banner {
    padding: 3em;
    background-color: var(--shade2);
}
 
.card {
    box-shadow: 0 8px 8px 0 var(--shadow);
    border-radius: 5px;
    width: 100%;
 
    padding: 2em;
    margin-bottom: 2em;
    background-color: var(--shade2);
}
 
#bio p {
    width: 280px;
}
 
#person {
    width: 12em;
}
 
#blob {
    display: flex;
    justify-content: flex-start;
 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
 
    padding: 0;
}
 
#blob li {
    padding: 0.5em 1em;
 
    font-weight: 600;
 
    border: solid 1.5px var(--red);
    border-radius: 1em;
}
 
#proj-prev {
    display: flex;
    justify-content: flex-start;
 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
 
#proj-prev img {
    width: 14em;
    
    border: solid 0px #fff;
    border-radius: 1em;
    box-shadow: 0 4px 2px 4px var(--shadow2);
 
}
 
#blob a {
    display: flex;
    justify-content: flex-start;
 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
 
    padding: 0.5em 1em;
 
    font-weight: 600;
 
    border: solid 1.5px var(--red);
    border-radius: 1em;
    color: black;
    transition: 300ms;
}
 
#socials #blob li {
    border: none;
    padding: 0;
}
 
#socials #blob a:hover
{
    transition: 300ms;
    background-color: #EA4E43;
    color: #F2F2F2;
}
 
/* --- Media Queries --- */
 
@media screen and (max-width: 1200px) {
    main {
      flex-flow: column nowrap;
      padding: 1em;
    }
  
    main aside {
      width: 100%;
    }
 
    #bio p {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    nav {
      padding: 5px;
    }
  
    main aside {
      width: 100%;
    }
  }